.ant-layout-sider {
  color: #fff;
  background: #95d5b2;
  height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  /* width: 100%; */
}

.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline {
  background: #95d5b2;
}

.ant-menu.ant-menu-dark.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
  background: #95d5b2;
}

.ant-layout-sider-trigger {
  background: #95d5b2;
}

.site-layout .site-layout-background {
  background: #fff;
}
