.container {
  display: flex;
  flex-direction: row;
}

.wrapper {
  margin: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header h1 {
  margin: 0 10px;
}

.ant-modal-footer {
  display: none;
}
